.navbar {
    background-color: rgba(84, 203, 208, 1); /* #54cbd0 */
}

.navbar-brand {
    color: #fff !important; 
    font-weight: bold;
    font-family: "Jost", sans-serif;
}

.navbar-brand img {
    max-height: 60px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff !important; 
    margin-right: 35px; 
    font-size: 1.5rem;
    font-family: "Jost", sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #e99034 !important;
    cursor: pointer;
    transition: color 0.3s ease; 
}
/*******************************FIN del Nav**************************************/

#searchInput {
    margin-bottom: 20px;
    padding: 10px;
    font-size: 16px;
    width: 100%;
}

#searchResults {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    background-color: #f9f9f9;
}

.result-item {
    margin-bottom: 10px;
}

.result-item h3 {
    margin: 0;
}

.result-item p {
    margin: 5px 0;
}


/*******************************************/
/* Estilos para el contenedor principal */
.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Estilo para el encabezado */
h1 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

/* Estilo para el formulario */
.form-group {
    margin-bottom: 15px;
}

.form-control {
    border-radius: 4px;
    border: 1px solid #ccc;
    padding: 10px;
    font-size: 16px;
}

.btn {
    margin: 5px;
    border-radius: 4px;
    padding: 10px 20px;
    font-size: 16px;
}

.btn-primary {
    background-color: #007bff;
    border-color: #007bff;
    color: #fff;
}

.btn-primary:hover {
    background-color: #0056b3;
    border-color: #004085;
}

/* Estilo para el contenedor de resultados */
#resultado {
    margin-top: 20px;
}

/* Estilo para cada resultado */
#resultado div {
    background-color: #fff;
    padding: 15px;
    border-radius: 4px;
    margin-bottom: 10px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

#resultado h3 {
    margin-top: 0;
    color: #333;
}

#resultado p {
    margin-bottom: 0;
    color: #555;
}
