.navbar {
    background-color: rgba(84, 203, 208, 1); /* #54cbd0 */
}

.navbar-brand {
    color: #fff !important; 
    font-weight: bold;
    font-family: "Jost", sans-serif;
}

.navbar-brand img {
    max-height: 60px;
    margin-right: 10px;
}

.navbar-nav .nav-link {
    color: #fff !important; 
    margin-right: 35px; 
    font-size: 1.1rem;
    font-family: "Jost", sans-serif;
}

.navbar-nav .nav-link:hover {
    color: #e99034 !important;
    cursor: pointer;
    transition: color 0.3s ease; 
}
/*******************************FIN del Nav**************************************/

#treatmentCombo {
    width: 800px; 
    margin-left: 300px;
}

.treatment-selection {
    text-align: center;
    margin: 2rem;
    font-family: "Jost", sans-serif;
}

.treatment-selection h2 {
    color: #e99034;
    margin-bottom: 1rem;
    font-family: "Jost", sans-serif;
}

.treatment-selection p {
    font-size: 1.1rem;
    color: #666;
    margin-bottom: 2rem;
    font-family: "Jost", sans-serif;
    
}

.treatment-display {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-start;
    margin-top: 2rem;
}

.treatment-selection .btn-container {
    display: flex;
    justify-content: flex-end; 
    margin-bottom: 2rem;
    margin-right: 300px;
    font-family: "Jost", sans-serif;
}


.image-container {
    flex: 1;
    max-width: 400px; 
    text-align: center;
}

.text-container {
    flex: 2;
    max-width: 600px; 
    margin-left: 20px;
    text-align: left;
}

#output-txt h3 {
    color: #5be1e6;
    margin-bottom: 1rem;
    font-family: "Jost", sans-serif;
}

#output-txt p {
    font-size: 1.1rem;
    color: #666;
    margin-top: 0;
    font-family: "Jost", sans-serif;
}





footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #c2cccc; 
    color: #fff; 
    text-align: center;
    padding: 5px 0;
    z-index: 1000; 
    font-size: 14px;
}


