body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    text-align: center;
    color: #575656;
}

.form-group {
    margin-bottom: 15px;
}

.form-group label {
    display: block;
    color: #333;
}

.form-group input {
    width: 100%;
    padding: 8px;
    box-sizing: border-box;
}

.row {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.col {
    flex: 1;
    min-width: 300px;
}

.buttons {
    text-align: center;
    margin-top: 20px;
}

.buttons button {
    margin: 5px;
    padding: 10px 20px;
    border: none;
    background-color: #007BFF;
    color: white;
    cursor: pointer;
}

.buttons button:hover {
    background-color: #0056b3;
}

.buttons .btn-borrar {
    background-color: #FF4136; 
}

.buttons .btn-borrar:hover {
    background-color: #C12A22; 
}



/* Estilo para la sección de datos ingresados */
.datos-ingresados {
    margin-top: 20px;
    padding: 10px;
    background-color: rgba(0, 128, 0, 0.2);
    border: 1px solid #ddd;
    border-radius: 5px;
    text-align: center;
}

.datos-ingresados h2 {
    margin-top: 0;
    color: #575656;
}

.datos-ingresados p {
    margin: 5px 0;
    padding: 5px;
    border: 1px solid #ddd;
    border-radius: 3px;
    color: #07681c;
}


.footer {
    background-color: #f8f9fa;
    padding: 20px 0;
    text-align: center;
    position: fixed;
    width: 100%;
    bottom: 0;
}
.footer h2 {
    color: #000;
    margin: 0;
    font-weight: lighter;
    font-size: 15px;
}