/* Header y Nav */

.logo {
    max-height: 60px; 
}


.navbar-custom .navbar-brand {
    color: rgb(224, 132, 2) ; /* Color del texto de la marca */
    font-weight: bold; /* Fuente en negrita */
}

.navbar-custom .navbar-nav .nav-link {
    color: #06c2cc; /* Color del texto de los enlaces */
    margin-left: 20px; /* Espaciado entre los enlaces */
    font-size: 20px;
    margin-right: 20px;
}

.navbar-custom .navbar-nav .nav-link:hover {
    color: rgb(224, 132, 2); /* Color del texto al pasar el mouse sobre los enlaces */
}



/*estilos para la primera seccion*/
.custom-section {
    color: rgb(224, 132, 2); 
    font-size: 25px; 
    text-align: justify; 
    margin-top: 70px; 
}

.custom-section h2 {
    color: #06c2cc; 
    font-weight: bold; 
    font-size: 50px;
    margin-bottom: 40px; 
    margin-top: 50px;
}

.custom-section p {
    margin-bottom: 80px;
    margin-top: 25px; 
}



/* Estilos para la sección inversa */
.reverse-section {
    margin-top: 225px;
    margin-left: 50px;
}

.reverse-section h2 {
    color: #06c2cc;
    font-weight: bold;
    font-size: 40px;
    margin-bottom: 8px;
    margin-right: 20px;
}

.reverse-section p {
    margin-bottom: 30px;
    font-size: 20px;
    margin-left: 10px;
    margin-right: 30px;
}

.reverse-section .btn {
    margin-top: 2px;
    margin-left: 250px;
}

/* Botón personalizado */
.custom-btn {
    background-color: #06c2cc; 
    color: white; 
    border: none; 
    padding: 10px 20px; 
    font-size: 18px; 
    cursor: pointer; 
}

.custom-btn:hover {
    background-color: #6bdfe8; 
}


/*estilos seccion 3*/
.titulo3  {
    color: #06c2cc;
    font-weight: bold;
    font-size: 40px;
}


.container-fluid5 {
    padding-top: 100px;
    padding-bottom: 100px;

}



/* Footer */
.container-fluid6.fondo1 {
    background-color: rgba(168, 167, 167, 0.5); /* Color gris transparente de fondo */
    padding: 20px 0; /* Padding para dar espacio dentro del footer */
}

.footer-text {
    font-size: 16px; /* Tamaño más pequeño del texto del footer */
    color: rgb(73, 69, 69); /* Color del texto */
    margin: 0; /* Eliminar márgenes */
    text-align: center; /* Alinear texto al centro */
}

