.banner2 {
    position: relative;
    background-image: url("../img/banner2.jpg"); /* Ruta de tu imagen */
    background-size: cover;
    background-position: center;
    height: 100vh; /* Ajusta la altura según tus necesidades */
    color: #fff; /* Color del texto */
}



.overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: rgba(0, 0, 0, 0.5); /* Superposición semitransparente */
    z-index: 1;
}

.content {
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    flex-direction: column;
}

.form-control.input-custom {
    width: 70%; /* Aumenta el ancho de los campos de entrada */
    height: 30px; /* Ajusta la altura para hacerlos más delgados */
    margin: 0 auto; /* Centra los campos */
}


.titulo1 {
    font-size: 50px;
}

.titulo2 {
    font-size: 30px;
}

.titulo3 {
    font-size: 30px;
}


.registrate {
    color: rgb(224, 132, 2);
}

.registrate:hover {
    color: #02e3ee;
}

.btninicio {
    background-color: rgb(224, 132, 2);
}
