
body, html {
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}



.header-fondo {
    background-color: #cbcccd;
    padding: 20px;
    text-align: center;
    margin-bottom: 0; 
}


.logo {
    height: 40px; 
    max-width: 100%; 
}


#panorama-container {
    margin: 0; 
    padding: 0; 
}


.cursor {
    cursor: pointer;
}


.footer-fondo {
    background-color: #892020; 
    padding: 10px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

.footer-fondo h2 {
    margin: 0; 
    font-size: 16px;
    color: #ffffff; 
    font-weight: lighter;
}