
.header-fondo {
    background-color: #cbcccd; /* Color de fondo */
    padding: 20px; /* Espaciado interno */
    text-align: center; /* Centrar el contenido */
}

.logo {
    height: 60px; /* Altura del logo */
    max-width: 100%; /* Ajuste responsivo */
}




#panorama-container {
    width: 1300px;
    height: 700px;
    background-position: center;
}


header {
    width: 100%;
}

header h1 {
    font-weight: lighter;
}

.cursor {
    cursor: pointer;
}




.footer-fondo {
    background-color: #892020; 
    padding: 20px; 
    text-align: center; 
    position: fixed; 
    width: 100%; 
    bottom: 0; 
}

.footer-fondo h2 {
    margin: 0; 
    font-size: 16px;
    color: #ffffff; 
    font-weight: lighter;
}